<h3>Create View Step 3</h3>
<p>In Create View Step 3 you may add any of the Artefacts within your  portfolio to your View and arrange them as per the design template.</p>
<p>Depending on the template you have selected, a number of different display  options will be available.</p>

<h4>Display options:</h4>
<dl>
    <dt>Labels</dt><dd>Labels give you the option of  entering in a single line of text as a title or brief description within the  View. Ensure you press Enter after  entering text within a Label box to confirm your entry.</dd>

    <dt>Text Boxes</dt><dd>A Text Box allows you to enter multiple lines  of formatted text, using the HTML editor (unless disabled within your  Preferences). Ideal for more detailed  descriptions or short passages of text within your View.</dd>

    <dt>Artefact List</dt><dd>A text based list of compatible Artefacts that you have associated with the View, with links to each Artefact. An artefact that is a &#8216;container&#8217; or parent of other Artefacts (such as  a blog which is a container for individual blog posts) can be listed itself or  you can choose to display a list of all it&#8217;s associated Artefacts.</dd>

    <dt>Fixed Size Embedded  Artefact</dt><dd>A Fixed  Size Embedded Artefact is a single Artefact embedded into the page where the  display size of the Artefact will be specified by the template. Only Artefacts (e.g. images) that are able to  be displayed in this size may be placed here.</dd>

    <dt>Resizable Embedded  Artefact</dt><dd>A Resizable Embedded Artefact is a  single Artefact embedded into the View where the size in which the Artefact is  displayed may be adjusted.</dd>
</dl>

<h4>Placing Artefacts within your View:</h4>

<p>All the Artefacts currently sitting in your ePortfolio are listed on the  right of the screen. They are listed by  Artefact type (Blog, Profile, File etc), then by Artefact container if  applicable (e.g. Blog, Folder), and then by individual Artefact. Use the + and &#8211; icons to expand/collapse this  tree directory structure.</p>
<p>Each page element box contains basic instructions on how it may be used  within the View. </p>
<p>To select an Artefact use the +/- icons on the directory listing and  single mouse click the desired Artefact.  A small triangle will appear against the Artefact to show it has been  selected. </p>

<p>Once an Artefact has been selected all the display areas that will  support this type of Artefact will be highlighted. To place the Artefact within a box, click  inside the element box.</p>
<p>Depending on the display box and Artefact type you have selected, you  then may be given various display options which you can select by clicking on  its description.</p>
<p>For example:</p>
<ul>
    <li>List  item (lists links to the Artefact/s)</li>
    <li>List  children of this Artefact (list items within this Artefact)</li>
    <li>Display  entire Artefact</li>
    <li>Display  metadata for this Artefact</li>
</ul>

<p>Artefact metadata includes: </p>
<ul>
    <li>Artefact Title </li>
    <li>Artefact Type</li>
    <li>Owner</li>
    <li>Creation  date</li>
    <li>Last  modification date</li>
    <li>Description  (where entered)</li>
    <li>Artefact  size (the units will depend on the Artefact type)</li>
</ul>

<p>Where allowed, you can add additional Artefacts by selecting another  Artefact and clicking within the box.</p>
<p>You can remove Artefacts by selecting the [ X ] button listed against  its title or replace them by selecting and adding in another Artefact.</p>
<p>When entering text within a Label box, ensure you press Enter to confirm  your edit.</p>
<p>Note: Ensure any images that you have loaded into your file repository  are a suitable size for display. This is  usually around 300x300 pixels</p>
