<h3>My Views</h3>
<p>A View is a collection of Artefacts from your ePortfolio, placed into a  pre-formatted template. As other people  can only see your Artefacts when displayed in a View, you can assign access to any  number of Groups, Communities and individuals as you wish. A View can also be kept private.</p>
<p>You may create as many different Views as you like and you can reuse your  Artefacts amongst all of your Views.</p>
<p>If you are preparing a View as part of an assessed task you can submit the View(s) to your tutor for assessment via a course-based  or Controlled Membership Community.  Submitting your View will lock the entire View and all associated  Artefacts from editing and provide a &#8216;snapshot&#8217; of your View on a certain  date. Any users with access to that View  will still be able to place Feedback and Comments while it is locked for  submission.</p>
<p>Once the assessment process has been completed your tutor will release your  View so that you may resume editing. You will be notified when your View has  been released from submission.</p>
<h4>Edit View Information</h4>
<p>
    The Edit View Information area is equivalent to the Create View Step 1 page
    and allows you to change the Title, Access Start and End Dates, Description
    and  your Name Display preference for your View.
</p>
<h4>Edit View</h4>
<p>
    The Edit View area is equivalent to the Create View Step 3 page and allows
    you to add to, or modify the display of the Artefacts associated with your
    View.
</p>
<h4>Edit Access</h4>
<p>
    The Edit View area is equivalent to the Create View Step 4 page and  allows
    to you to add, modify or remove View access to any of your Groups,
    Communities and any individuals of your choice.
</p>
<p><em>You can preview your View by clicking on its  Title to the left of the screen.</em></p>

<h3>Accessing other users' views</h3>
<p>
    When accessing another user&#8217;s View, you will see  the following
    options at the bottom of the View screen.
</p>
<h4>Place feedback</h4>
<p>
    You can place feedback on a user&#8217;s View or an Artefact within that
    View. You can make feedback Public or  Private. Public Feedback may be seen
    by  other users with access to the View. Private  Feedback may only be read
    by the View owner.  A View owner may choose to make your Public feedback
    Private, but cannot  make your Private Feedback Public.
</p>
<p>
    Staff members will be able to include a file with their Feedback where  the
    View has been submitted to them for assessment.
</p>
<h4>Report objectionable material</h4>
<p>
    If you come across material within a View that you believe to be  offensive
    or inappropriate, you can report this to the Site Administrator using  the
    Objectionable material form. It is  important to consider the material
    within the context of the View.
</p>
<h4>Print</h4>
<p>
    The Print option will allow you print a printer friendly version of the
    View or Artefact you currently have open.
</p>
<h4>Add View to Watchlist </h4>
<p>
    Add View to Watchlist allows you to add this View to your Watchlist so
    that you may receive notifications of any changes made.
</p>
<h4>Add entire View contents to  Watchlist </h4>
<p>
    Add entire View contents to Watchlist allows you to add this View and  all
    Artefacts associated with it, to your Watchlist so that you may receive
    notifications of any changes made.
</p>
