<h3>Quota</h3>
<p>The number of files you may upload into your file repository area is  dependant on your set file storage limit.  The amount of space you have used and have remaining is displayed in the  Quota box. </p>
