<h3>My Blogs</h3>
<p>A web log  or Blog is journal-like tool that allows you to record your thoughts and  experiences. You can allow other users  to post comments on your Blog allowing you to create a dialogue with your  readers.</p>
<p>While a  Blog itself is considered an Artefact, so are any individual Blog postings you  create. This means both Blogs and Blog  posts may be added to a View.</p><p>
Your Blogs area lists of all of your current Blogs. Click on the name of a Blog to add a new  posting or edit the Blog settings. To  create a new Blog select Add Blog.
</p>
