<h3>Profile Icons</h3>
<p>
    The Profile  Icons area allows you to upload images to use within your
    Profile and Views.  Your Icons may be a picture of you or an avatar image
    of your choice.
</p>
<p>
    You may  have up to 5 icons loaded to your Profiles Icons area at once.
    Images you upload need to be between 100x100  and 300x300 pixels and will
    automatically be resized to 100x100 pixels.
</p>
<p>
    Your  default image will appear on your Profile page.
</p>
