<h3>Description</h3>
<p>The Description of your Certification, Accreditation or Award is optional but allows you include important information relating to your award such as the issuing body or duration for which it is current.</p>
