<h3>Date</h3>
<p>This is the date you received your Certification, Accreditation or Award.  You can either enter in the required date using the format YYYY/MM/DD (Year/Month/Day) or use the Calendar to select your Date.</p>
