<h3>Date of Birth</h3>
<p>You can either enter in the required date using the below format or use the Calendar to select your Date of Birth</p>
<p> Date Format:<br />
YYYY/MM/DD<br />
(Year/Month/Day)</p>
<p> For example: 1978/06/02</p>
<p><i>Calendar</i><br />
Click the &lt;&lt;   &gt;&gt; buttons to move through the year list or click and hold either of the &lt;&lt; &gt;&gt; buttons to open a drop down menu of available years.</p>
<p>Click the <   > buttons to cycle through the months or click and hold either of the buttons to open a drop down menu of all months</p>
<p>Click on the time fields to move up through the hours and minutes or Shift-click to move down through the hours and minutes.  Click and drag your mouse to move increase or decrease the time quickly.</p>

