<h3>Email address</h3>
<p>Although the email address given during registration is your primary  contact address, you may have several email addresses listed on the site and  use any validated address as a contact address within a View. </p>
<p>Add new addresses using the Add Email button. Once you have saved your Profile a message will  be sent to the new email address. This  message will contain a link which once followed, will confirm your email address  is valid. This confirmation email is  valid for 24 hours only. After this time  you will need to repeat the Add Email process.</p>
