<h3>Login</h3>
<p>Your login  details will be the username and password you entered during registration or as  assigned by the Site Administrator. Where  relevant, you will also need to select the institution with which you are  associated. If you have forgotten your  login details you can request a password reset at any time.</p>
<p>For your  security, you will be automatically logged out of the system after a certain  period of inactivity on the site, as set by the Site Administrator.</p>
<p><em>Note</em> - This site  requires a minimum web browser of Internet Explorer 6.0 or higher, Firefox 1.5  or higher, Safari 2 or higher, Opera 9 or higher or any other browser  compatible with these standards. You can  usually determine the version of your browser software by selecting About via  the Help menu.</p>
<p>You must also  have cookies enabled on your browser in order to use this site. </p>
