<h3>Edit View Controls</h3>
<h4>Edit View Information</h4>
<p>
    The Edit View Information area is equivalent to the Create View Step 1 page
    and allows you to change the Title, Access Start and End Dates, Description
    and  your Name Display preference for your View.
</p>
<h4>Edit View</h4>
<p>
    The Edit View area is equivalent to the Create View Step 3 page and allows
    you to add to, or modify the display of the Artefacts associated with your
    View.
</p>
<h4>Edit Access</h4>
<p>
    The Edit View area is equivalent to the Create View Step 4 page and  allows
    to you to add, modify or remove View access to any of your Groups,
    Communities and any individuals of your choice.
</p>
<h4>Submit for Assessment</h4>
<p>
    If you are preparing a View as part of an assessed task  and you have been
    added as a member of a Controlled Membership Community that has an assigned
    Tutor, you will be able to Submit your View for assessment.
</p>
<p>
    Submit View will lock the entire View and all associated Artefacts from
    editing and provide a ‘snapshot’ of your View on a certain date, and send
    it to your Tutor.  Note that any users with access to that View will still
    be able to place Feedback and Comments while it is locked for submission.
    Once the assessment process has been completed your tutor will release your
    View so that you may resume editing. You will be notified via Recent
    Activity when your View has been released from submission.
</p>
