<h3>Search</h3>
<p>Search allows  you to find users, Communities and Views that you may access. You can enter a  specific search or you can search for all users or all Communities by launching  a search with an empty Query field, using the relevant dropdown option.</p>
<p>Unless you  are a Site Administrator or Staff member, users are search upon and listed by  their Preferred Name.</p>
<p>Clicking on  a user&#8217;s Preferred Name will allow you to view any public profile information they  have submitted and provide links to any Views to which you have access. </p>
<p>You can  also add this user to your Friends list if the request friendship box is  displayed. You may also invite them to  any Invite Only Communities you own if they are not yet a member.</p>
<p>Clicking on  a Community name will take you to the Communities main page and depending on  the membership option the Community owner has selected, allow you to join the  Community.</p>
<p>When accessing  another user&#8217;s View, you will see the following options at the bottom of the View screen.</p>
<h4>Place feedback</h4>
<p>
  You can place Feedback on a user&#8217;s View or an Artefact within that  View. You may make your Feedback Public  or Private. Public Feedback may be seen  by other users with access to the View.  Private Feedback will only be seen by the View owner. A View owner may choose to make your Public  Feedback Private, but cannot make your Private Feedback Public.</p>
<p>Staff members will be able to include a file with their Feedback where  the View has been submitted to them for assessment via a course based Community.</p>
<h4>Report objectionable material</h4>
<p>
  If you come across material within a View that you believe to be  offensive or inappropriate, you can report this to the Site Administrator using  the Objectionable material form. Please  consider the context in which this item is used before reporting Objectionable  Material.</p>
<h4>Print</h4>
<p>
  The Print option will allow you print a printer friendly version of the  View or Artefact you currently have open.</p>
<h4>Add View to Watchlist </h4>
<p>
  Add View to Watchlist allows you to add this View to your Watchlist so  that you may receive notifications of any changes made.</p>
<h4>Add entire View contents to  Watchlist </h4>
<p>
  Add entire View contents to Watchlist allows you to add this View and  all Artefacts associated with it, to your Watchlist so that you may receive  notifications of any changes made.</p>
