<h3>My Groups</h3>
<p>Groups allow you to create a personal collection of users from the site. You can assign a Group and it&#8217;s members  access to any number of your Views. Creating  Groups allows you to quickly assign View access to specific users.</p>
