<h3>My Owned Communities</h3>
<p>Communities, like Groups, are a collection of users but they are created  at the site level rather than within an individual&#8217;s ePortfolio. </p>
<p>Your Owned Communities area lists those Communities that you have created  and any Pending Membership Requests (depending on the which membership setting  you have selected).</p>
<p>For privacy reasons unless you are a Site Administrator or Staff user  you will only see a Community member&#8217;s Preferred Name listed.</p>
<p>You can assign any Community you are a member or owner of, access rights  to any of your Views. When you assign a  Community access to a View, all members of that Community will also be given  access.</p>
<p>You can view your Community&#8217;s main page by clicking on its name. Viewing the Community main page will allow  you to see a list of members of this Community, any Pending Membership Requests  and links to any Views that this Community has access to. Use the Views and Members dropdown menus to generate  the required information and assign appropriate access rights.</p>
