<h3>HTML Editor</h3>
<p>AnHTML editor (also known a WYSIWYG  editor) is available for use on some sections of the site. The HTML editor allows you to easily apply  formatting to text you&#8217;ve entered. If the  editor is turned off you will be able to enter in plain text only.</p>
<p>Please note that the HTML editor may appear and work slightly  differently in certain browsers.</p>
