<h3>Access Start Date/Time</h3>
<p>You can chose the date and time you want your View to become accessible  to those Groups, Communities and Individuals you select in View Creation Step 4.</p>
<p>You can either enter in the date and time using the below format or use  the Calendar to select your desired Access Start Date.</p>

<h4>Date and Time Format</h4>
<p>
  Enter in the Access Start Date using the format: <br>
  YYYY/MM/DD TT:TT <br>
  (Year/Month/Day Hour: Minutes)
</p>
<p>For example: 2006/03/20 08:30</p>

<h4>Calendar</h4>
<p>
    Click the &lt;&lt; &gt;&gt; buttons to move through the year list or click
    and hold either of the &lt;&lt; &gt;&gt; buttons to open a drop down menu
    of  available years.
</p>
<p>Click the &lt; &gt; buttons to  cycle through the months or click and hold either of the buttons to open a drop  down menu of all months</p>
<p>You can also select Today to make the View available as soon as you have  completed the setup wizard. </p>
<p>Click on the time fields to move up through the hours and minutes or  Shift-click to move down through the hours and minutes. Click and drag your mouse to move increase or  decrease the time quickly.</p>
<p>If you do not choose a Start Date it will automatically default to the  current time and date.</p>
