<h3>Group members</h3>
<p>Select potential Group members from the list on the left and using the  arrow buttons add them to the Group box on the right. You can also Search for specific users. </p>
<p>Members of a Group do not see the name or details of any other member  and are no aware that they have been assigned to a Group within your portfolio.</p>
