<h3>Authentication plugin</h3>
<p>Where multiple authentication plugins are enabled on your Mahara site, all available authentication methods will be listed in dropdown menu for selection against the Institution.</p>
