<h3>Default account lifetime</h3>
<p>An Institution may set how long before a user’s account will automatically expire and be removed from the system. This time may be specified in Days, Weeks, Months, Years or No End Date may be selected where user accounts should never expire.</p>
