<h3>Allow public views</h3>
<p>If you wish to allow users to create Views that may be made accessible to the public, the allow public Views option should be set to Yes.   Views that are publically available are read only to non-logged in users.  Users will be still be able to assign access to other audiences and specify access windows.</p>
